{% extends "base.html" %}
{% block content %}

<h2>Admin - Deposits</h2>

{% for d in deposits %}
<div class="card">

    <p><b>User:</b> {{ d.user }}</p>
    <p><b>Amount:</b> ₦{{ d.amount }}</p>

    <p>
        <b>Status:</b> 
        <span style="
            color:
            {% if d.status == 'pending' %}orange
            {% elif d.status == 'approved' %}lightgreen
            {% else %}red
            {% endif %}
        ">
            {{ d.status }}
        </span>
    </p>

    {% if d.status == "pending" %}
        <a href="/approve/{{ loop.index0 }}" class="btn"> Approve</a>
        <a href="/reject/{{ loop.index0 }}" class="btn btn-danger"> Reject</a>
    {% endif %}

</div>
{% endfor %}

{% endblock %}
