{% extends "base.html" %}
{% block content %}

<h2>Admin - Withdrawals</h2>

<!-- Flash Message -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, msg in messages %}
      <div class="card" id="flashMsg">
        {{ msg }}
        <span onclick="document.getElementById('flashMsg').style.display='none'" 
              style="float:right;cursor:pointer;">✖</span>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% for w in withdrawals %}
<div class="card">

    <p><b>User:</b> {{ w.user }}</p>
    <p><b>Amount:</b> ₦{{ w.amount }}</p>
    <p><b>Bank:</b> {{ w.bank }}</p>
    <p><b>Account:</b> {{ w.account }}</p>

    <p>
        <b>Status:</b> 
        <span style="
            color:
            {% if w.status == 'pending' %}orange
            {% elif w.status == 'approved' %}lightgreen
            {% else %}red
            {% endif %}
        ">
            {{ w.status }}
        </span>
    </p>

    {% if w.status == "pending" %}
        <a href="/approve-withdraw/{{ loop.index0 }}" class="btn"> Approve</a>
        <a href="/reject-withdraw/{{ loop.index0 }}" class="btn btn-danger"> Reject</a>
    {% endif %}

</div>
{% endfor %}

<script>
setTimeout(function(){
    var msg = document.getElementById("flashMsg");
    if(msg){ msg.style.display = "none"; }
}, 4000);
</script>

{% endblock %}
