{% extends "base.html" %}
{% block content %}

<h2>Welcome, {{ user }}</h2>

<!-- Balance -->
<div class="card">
    <p>Your Balance</p>
    <div class="balance">₦{{ balance }}</div>
</div>

<!-- Message -->
{% if message %}
<div class="card" id="msg">
    {{ message }}
    <span onclick="document.getElementById('msg').style.display='none'" style="float:right;cursor:pointer;">✖</span>
</div>
{% endif %}

<!-- Actions -->
<div class="card">
    <a href="/deposit" class="btn"> Deposit</a>
    <a href="/withdraw" class="btn"> Withdraw</a>
    <a href="/my-deposits" class="btn"> My Deposits</a>

    {% if user == "Uwakmfon" %}
        <a href="/admin/deposits" class="btn"> Admin Deposits</a>
        <a href="/admin/withdrawals" class="btn"> Admin Withdrawals</a>
    {% endif %}

    <a href="/logout" class="btn btn-danger">Logout</a>
</div>

{% endblock %}
