<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<style>
body { background:#0f172a; color:white; font-family:Arial; text-align:center; padding-top:50px;}

.card {
    background:#1e293b;
    margin:20px auto;
    padding:20px;
    border-radius:10px;
    width:90%;
    max-width:400px;
}

a {
    display:inline-block;
    margin:10px;
    padding:10px 20px;
    background:#22c55e;
    color:white;
    text-decoration:none;
    border-radius:5px;
}
.logout {
    background:red;
}
</style>
</head>
<body>
<a href="/" style="color: #00ff88;"> Home</a>
<h2>Welcome, {{ user }}</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div style="background: green; color: white; padding: 10px; margin: 10px; border-radius: 5px;">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}
    
<div class="card">
    <h3>Balance</h3>
    <p>₦{{ balance }}</p>
</div>

<div class="card">
    <h3>Actions</h3>
    <a href="/">Home</a>
    <a href="/deposit">Deposit</a>
    <a href="#">Withdraw</a>
    <a href="/my-deposits">My Deposits</a>
</div>

<a href="/logout" class="logout">Logout</a>
</body>
</html>
