{% extends "base.html" %}
{% block content %}

<h2 style="text-align:center;">Deposit</h2>

<div class="card">

    <!-- ✅ YOUR ACCOUNT DETAILS -->
    <div class="bank-box">
        <p><strong>Bank Name:</strong> WEMA BANK<p>
        <p><strong>Account Name:</strong>AWE/EMILIA OKOKON EDET</p>
        <p><strong>Account Number:</strong> 7650624571</p>
        <p style="color:yellow;">⚠️ Transfer to this account and upload proof below</p>
    </div>

    <!-- ✅ DEPOSIT FORM -->
    <form method="POST" enctype="multipart/form-data">
        <input type="number" name="amount" placeholder="Minimum ₦2000" min="2000" required>

        <!-- Proof Upload -->
        <label style="font-size:14px;">Upload Payment Proof (optional)</label>
        <input type="file" name="proof">

        <button class="btn" type="submit">Submit Deposit</button>
    </form>

</div>

<style>
.card {
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    width:90%;
    max-width:420px;
    margin:20px auto;
}

.bank-box {
    background:#0f172a;
    padding:15px;
    border-radius:10px;
    margin-bottom:15px;
    font-size:14px;
}

input {
    width:100%;
    padding:14px;
    margin:10px 0;
    border-radius:8px;
    border:none;
    font-size:16px;
}

.btn {
    width:100%;
    padding:14px;
    background:#22c55e;
    color:white;
    border:none;
    border-radius:10px;
    font-size:18px;
}
</style>

{% endblock %}
