{% extends "base.html" %}
{% block content %}

<h2>Withdraw Funds</h2>

<div class="card">

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <input type="number" name="amount" placeholder="Amount">
        <input type="text" name="bank" placeholder="Bank Name">
        <input type="text" name="account" placeholder="Account Number">

        <button class="btn" type="submit">Submit Withdrawal</button>
    </form>

</div>

{% endblock %}
